@tailwind components;
@tailwind utilities;

.light-input {
  border-color: rgba(0, 0, 0, 0.1);
}
.light-input:focus-within {
  border-color: var(--input-bd-focus);
}

@media (max-width: 576px) {
  .max-xs-rotate90 {
    transform: rotate(90deg) !important;
  }
}
